body {
    font-family: OpenSans, sans-serif;
    background: #d6a7b1;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    margin: 0;
}
header nav {
    display: flex;
    justify-content: space-around;
    width: 50vw;
}